@media (max-width: 600px) {
  .busca {
    max-width: 100% !important;
    margin: 0 auto !important;
    text-align: center !important;
  }
  .busca input[type="date"],
  .busca button {
    width: 90% !important;
    max-width: 300px;
    margin: 0.5rem auto !important;
    display: block !important;
  }

  #avisoArea {
    max-width: 100% !important;
    margin: 0 auto !important;
    text-align: center !important;
    display: block !important;
  }
  #avisoArea::before {
    display: inline-block !important;
    margin-right: 0.5rem !important;
  }
  #avisoDisplayTexto {
    margin: 0 auto !important;
    text-align: center !important;
  }
}
